# Estructuras de datos

El término estructura de dato se usa para designar una forma de representar datos o valores en un programa. Usualmente hay varias estructuras de datos útiles para resolver un problema, pero hay unas en las que podrá ser más correcto o eficiente.

Acá veremos lo más básico, puedes complementar con [Data Structures](https://www.geeksforgeeks.org/data-structures/)

---
`list` -> se usa para almacenar varios valores distintos (por ejemplo variables) en uno solo; con la posibilidad de agregar, remover y acceder a cada uno de los valores agregados.

In [1]:
students = ["santiaguito", "juliansito", "danilito"]
primes_up_to_20 = [2, 3, 5, 7, 11, 13, 17, 19]
negative_integers_greater_than_minus_5 = [-5, -4, -2, -1]
collection_of_different_types = [None, 3, "4", 0.15]
empty_list = []

In [2]:
type(collection_of_different_types)

list

In [3]:
print(len(collection_of_different_types))

4

Las listas vienen con varios métodos muy útiles para trabajar con ellas, acá unos ejemplos tomados de la [documentación oficial](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

In [54]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [5]:
fruits.count('apple')

2

In [6]:
fruits.count('tangerine')

0

In [7]:
'tangerine' in fruits

False

In [8]:
'banana' in fruits

True

In [9]:
'banana' not in fruits

False

In [10]:
fruits.index('banana')

3

In [11]:
fruits.index('banana', 4)  # Find next banana starting at position 4

6

In [12]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [55]:
fruits.append('grape')
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'grape']

In [56]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [57]:
fruits.pop()

'pear'

In [58]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

In [59]:
fruits.remove('kiwi')

In [18]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'orange']

In [19]:
fruits[2] = 456
fruits

['apple', 'apple', 456, 'banana', 'grape', 'orange']

In [60]:
fruits.extend(['New Fruit', 0])
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'orange', 'New Fruit', 0]

In [61]:
type(fruits)

list

In [62]:
vegetables = ['tomato', 'carrot', 'avocado']
print(vegetables, type(vegetables))

['tomato', 'carrot', 'avocado'] <class 'list'>

In [63]:
my_food = [fruits, vegetables]
my_food

[['apple', 'apple', 'banana', 'banana', 'grape', 'orange', 'New Fruit', 0],
 ['tomato', 'carrot', 'avocado']]

In [64]:
print(my_food[0])

['apple', 'apple', 'banana', 'banana', 'grape', 'orange', 'New Fruit', 0]

In [65]:
print(my_food[1])

['tomato', 'carrot', 'avocado']

---
`tuple` -> casi igual que las listas, pero no se pueden modificar

In [22]:
fruits = ('orange', 'apple', 'banana')

In [23]:
fruits[0] = 3

TypeError: 'tuple' object does not support item assignment

In [24]:
'orange' in fruits

True

In [25]:
type(fruits)

tuple

In [26]:
fruit_1, fruit_2, fruit_3 = fruits # tuple unzip

In [27]:
print(fruit_1, fruit_2, fruit_3)

orange apple banana

Lea más en la [documentación oficial](https://docs.python.org/3/library/stdtypes.html#tuples)

---
`set` -> se usa para representar un conjunto; permite fácilmente preguntar si un elemento es parte del conjunto y otras operaciones propias de conjuntos.

Ahora más ejemplos tomados de la [documentación oficial](https://docs.python.org/3/tutorial/datastructures.html#sets)

In [28]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket

{'apple', 'banana', 'orange', 'pear'}

In [29]:
'orange' in basket

True

In [30]:
'crabgrass' in basket

False

In [31]:
basket.add(345)
basket

{345, 'apple', 'banana', 'orange', 'pear'}

In [32]:
basket.add("banana")
basket

{345, 'apple', 'banana', 'orange', 'pear'}

In [33]:
basket.add(["una", "lista"])

TypeError: unhashable type: 'list'

In [34]:
a = set('abracadabra')
b = set('alacazam')
a, b

({'a', 'b', 'c', 'd', 'r'}, {'a', 'c', 'l', 'm', 'z'})

In [35]:
a.isdisjoint(b)

False

In [36]:
a.issubset(b)

False

In [37]:
a.union(b)

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [38]:
a.intersection(b)

{'a', 'c'}

In [39]:
a.difference(b)

{'b', 'd', 'r'}

Recuerda que siempre puedes aprender más por tu cuenta revisando la [documentación oficial](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)

---
`dict` -> su uso es tal cual como el de un diccionario de idiomas, se usa para mapear un objeto (por ejemplo, palabra) a otro (por ejemplo, frase con el significado).

Puedes leer una descripción más aplia en [otro lado](https://docs.python.org/3/tutorial/datastructures.html#dictionaries) (la documentación oficial)

In [40]:
tel = {'jack': 4098, 'bruce': 4139}
tel

{'jack': 4098, 'bruce': 4139}

In [41]:
tel['guido'] = 4127
tel

{'jack': 4098, 'bruce': 4139, 'guido': 4127}

In [42]:
tel['jack']

4098

In [43]:
del tel['bruce']
tel

{'jack': 4098, 'guido': 4127}

In [44]:
'guido' in tel

True

Como todos los demás, también cuentan con [métodos útiles](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict).

In [50]:
tel.items()

dict_items([('jack', 4098), ('guido', 4127)])

In [45]:
tel.keys()

dict_keys(['jack', 'guido'])

In [46]:
tel.values()

dict_values([4098, 4127])

In [47]:
print(type(tel.keys()), type(tel.values()))

<class 'dict_keys'> <class 'dict_values'>

In [48]:
keys = list(tel.keys())

In [49]:
print(keys, type(keys))

['jack', 'guido'] <class 'list'>