In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def create_df(missing=False, n=10):
    itemid   = np.random.randint(100000, size=n)+1000
    category = np.random.randint(3, size=n)
    price    = np.round(np.random.normal(loc=100, scale=10, size=n),2)
    margin   = np.round(np.random.normal(loc=10, scale=1, size=n),2)
    
    if missing:
        nmissing = np.random.randint(len(price)//2)+2                                     
        price[np.random.permutation(len(price))[:nmissing]] = np.nan
    
    d = pd.DataFrame(np.r_[[price, category, margin]].T, index=itemid, columns=["price", "category", "margin"])
    d.index.name="itemid"
    if np.random.random()>.5:
        d = d[d.columns[:2]]
        
    return d

In [ ]:
d = create_df()
d

# Task 1: Group statistics

Complete the following function so that it returns a dataframe with the average, max and min **prices** per category. 

For instance, for the following dataframe

             price  category  margin
    itemid                          
    17946    93.85       1.0   10.64
    61190    91.72       1.0    9.76
    39639   100.16       1.0   10.67
    17791   110.44       2.0    9.65
    7333    101.05       1.0    9.69
    77362   122.33       0.0   11.14
    92646   108.13       2.0   10.58
    27797    85.52       2.0   10.88
    31746    97.56       0.0    9.75
    12355   101.04       2.0    9.51
    
you should return the following dataframe

                 media  maximo  minimo
    categoria                         
    0         109.9450  122.33  97.56
    1          96.6950  101.05  91.72
    2         101.2825  110.44  85.52
    
observe that your result
- must not be a **multilevel** columnset.
- the column names and the index name must be **exactly** as in the example.
- the **index** must be of type **int**.

In [ ]:
def get_stats(df):
    # Write your code here
    return

**manually check your answer**

In [ ]:
d = create_df()
d

In [ ]:
nf = get_stats(d)
nf

**Check that your implementation is correct comparing with the example shown in the problem statement:**

In [ ]:
array = np.array([[93.85, 1.0, 10.64],
                 [91.72, 1.0, 9.76],
                 [100.16, 1.0, 10.67],
                 [110.44, 2.0, 9.65],
                 [101.05, 1.0, 9.69],
                 [122.33, 0.0, 11.14],
                 [108.13, 2.0, 10.58],
                 [85.52, 2.0, 10.88],
                 [97.56, 0.0, 9.75],
                 [101.04, 2.0, 9.51]])
df_test = pd.DataFrame(array, columns = ['price', 'category', 'margin'])
df_test

In [ ]:
get_stats(df_test)